@media screen and (max-width:620px )
{
	/* main start */
	.shoutout.main-shoutout .shoutout-branding header{
		padding-top:60px;	
		margin-bottom:10px;
	}
	.shoutout.main-shoutout .shoutout-contents{}
	.shoutout.main-shoutout .scroll-down.shoutout-scroll-down{}
	.featured-block.main-featured-block .featured-feature .feature-details a .glyph.glyph-arrow-right-white{
		display:none;
	}
	.voice-of-graduates header h2{
		font-size:42px;
	}
	/* main end */
	
	
	/* footer start */
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li{}
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a{
		font-size:14px;
	}
	/* footer end */
}
@media screen and (max-width:580px )
{
	/* main start */
	.shoutout.main-shoutout .shoutout-contents header h1{
		font-size:44px;
	}
	.shoutout.main-shoutout .shoutout-contents p{
		font-size:22px;
	}
	.featured-block.main-featured-block .featured-feature .feature-details a{
		font-size:16px;
		padding:8px 20px;
	}
	.voice-of-graduates{
		padding-bottom:54px;
	}
	.voice-of-graduates header{
		padding-top:42px;
		margin-bottom:22px;
	}
	.voice-of-graduates header h2{
		font-size:42px;
	}
	.voice-of-graduates header h2 .font-baskerville{
		font-size:70px;
	}
	.voice-of-graduates a{
		margin-bottom:0px;
	}
	.updates-block{
		top:0px;
	}
	.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header h6{
		font-size:20px;
	}
	.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p a{
		font-size:22px;
	}
	/* main end */
	
	/* footer start */
	/* footer end */
}
@media screen and (max-width:500px )
{
	/* main start */
	.shoutout.main-shoutout .shoutout-contents{
		margin-bottom:86px;
	}
	.voice-of-graduates{
		padding-bottom:20px;
	}
	.voice-of-graduates header h2{
		font-size:32px;
	}
	.voice-of-graduates header h2 .font-baskerville{
		font-size:60px;
	}
	.voice-of-graduates p{
		margin-bottom:20px;
		font-size:18px;
	}
	.updates-block .news-block .news-information-block .news-information-block-1 h4{
		font-size:35px;
	}
	.updates-block .news-block .news-information-block .news-information-block-1 p{
		font-size:19px;
	}
	.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-headline p{
		font-size:18px;
		line-height:26px;
	}
	.updates-block .news-block .news-media-block .news-media-block-1 h4{
		font-size:35px;
	}
	.updates-block .news-block .news-media-block .news-media-block-1 p{
		font-size:19px;
	}
	.updates-block .campaign-block header h3{
		font-size:35px;
	}
	/* main end */
	
	/* footer start */
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li{}
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a{}
	/* footer end */
}
@media screen and (max-width:470px )
{
	/* main start */
	.shoutout.main-shoutout .shoutout-contents{
		margin-bottom:20px;
	}
	.shoutout.main-shoutout .scroll-down.shoutout-scroll-down{
		padding-bottom:10px;
	}
	.featured-block.main-featured-block .featured-feature .feature-details header h5{
		font-size:22px;
	}
	.featured-block.main-featured-block .featured-feature .feature-details p{
		font-size:16px;
	}
	.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-feature{
		display:none;
	}
	.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-course{
		display:none;
	}
	.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-schedule{
		display:none;
	}
	.voice-of-graduates p{
		line-height:30px;
	}
	.voice-of-graduates a{
		background:url('../images/glyph-arrow-right-white.png') no-repeat 30px 50% / 7px auto;
		font-size:18px;
		padding:10px;
	}
	/* main end */
	
	
	/* footer start */
	#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a{
		background:none;
	}
	/* footer start */
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li{
		float:none;
		width:100%;
		margin-bottom:10px;
	}
	.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a{
		font-size:14px;
	}
	/* footer end */
	/* footer end */
}
@media screen and (max-width:400px )
{
	/* header start */
	#site-header .main-site-header-menu li.site-header-menu-items.global a.anc.anc-list-opener .glyph-menu-open-white{
		margin-right:0px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.global a.anc.anc-list-opener .text{
		display:none;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact{
		padding-top:38px;
		height:62px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact a.anc.anc-list-opener .glyph-contacts-white{}
	#site-header .main-site-header-menu li.site-header-menu-items.contact a.anc.anc-list-opener .text{
		display:none;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.apply{
		padding-top:36px;
		height:64px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.apply a.anc.anc-list-opener .glyph-contacts-white{}
	#site-header .main-site-header-menu li.site-header-menu-items.apply a.anc.anc-list-opener .text{
		display:none;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1 p{
		font-size:38px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1 p .glyph-phone-blue{
		display:block;
		margin:0 auto 6px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col2 a{
		font-size:20px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col2 a .glyph-mail-white{
		display:block;
		margin:0 auto 6px;
	}
	#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2 a{
		float:none;
		width:100%;
		border:0px;
		border-bottom:1px solid white;
	}
	/* header end */
	
	
	/* main start */
	.shoutout.main-shoutout .shoutout-branding{
		margin-bottom:15px;
	}
	.shoutout.main-shoutout .shoutout-branding header{
		padding-top:30px;	
	}
	.shoutout.main-shoutout .shoutout-contents{
		margin-bottom:3px;
	}
	.shoutout.main-shoutout .shoutout-contents header h1{
		font-size:34px;
	}
	.shoutout.main-shoutout .scroll-down.shoutout-scroll-down{}
	.featured-block.main-featured-block .featured-feature .feature-details a{
		font-size:12px;
		padding:0px 10px;
	}
	.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header h6{
		font-size:18px;
	}
	.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p{
		line-height:26px;
	}
	.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p a{
		font-size:16px;
	}
	/* main end */
	
	
	/* footer start */
	#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p{
		font-size:35px;
	}
	#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col2 a{
		font-size:20px;
	}
	/* footer end */
}
@media screen and (max-width:380px )
{
	/* main start */
	.voice-of-graduates header{
		padding-top:26px;
	}
	.voice-of-graduates header h2{
		font-size:22px;
	}
	.voice-of-graduates header h2 .font-baskerville{
		font-size:50px;
	}
	.voice-of-graduates p{
		font-size:14px;
	}
	.voice-of-graduates a{
		background:none;
	}
	/* main end */
}
@media screen and (max-width:340px )
{
	/* main start */
	.voice-of-graduates{
		padding-bottom:8px;
	}
	.voice-of-graduates header{
		padding-top:20px;
		margin-bottom:20px;
	}
	.voice-of-graduates p{
		font-size:14px;
	}
	/* main end */
}