/* common start */
html {
	font-family: "YuGothic","Yu Gothic","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}
.float-right{float:right;}
.float-left{float:left;}
.clear-both{clear: both;}
.display-none{display:none;}
.display-block{display:block;}
.display-inline{display:inline;}
.font-baskerville{font-family: 'Libre Baskerville', serif;}
.glyph{display:inline-block; width:16px; height:16px;}
.site-submenu{line-height:normal;}
/* common end */

/* header start */
#site-header{
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}
#site-header .site-banner{
	margin-top:17px;
	margin-bottom:15px;
}
#site-header .site-banner .site-logo{
	display:block;
	width:100px;
	height:100px;
	margin:0 auto;
	background:url('../images/site-logo.gif') no-repeat 0px 0px;
	text-indent:-999999px;
}
#site-header .main-site-header-menu{
	height:100px;
	width:100%;
}
#site-header .main-site-header-menu li.site-header-menu-items{
	float:left;
	height:100px;
	position:relative;
}
#site-header .main-site-header-menu li.site-header-menu-items a.anc{
	display:block;
	text-align:center;
	color:white;
	text-decoration:none;
	font-family:'Roboto', sans-serif;
	font-weight:400;
	height:100%;
}
#site-header .main-site-header-menu li.site-header-menu-items a.anc.anc-list-opener{}
#site-header .main-site-header-menu li.site-header-menu-items ul.main-site-header-submenu{
	position:relative;
	width:640px;
}
#site-header .main-site-header-menu li.site-header-menu-items ul.main-site-header-submenu li{
	/*
	height:102px; can't put height on li or else other submenu will overlap
	*/
	position:relative;
	line-height:1px;
	border-bottom:1px solid #49549d;
}
#site-header .main-site-header-menu li.site-header-menu-items ul.main-site-header-submenu.lvl2{}
#site-header .main-site-header-menu li.site-header-menu-items ul.main-site-header-submenu.lvl2 li{}
/* header - menu global start */
#site-header .main-site-header-menu li.site-header-menu-items.global{
	/*width:320px;*/
	width:50%;
	background-color:#344192;
	line-height:97px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global a.anc{
	font-size:28px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global a.anc.anc-list-opener{}
#site-header .main-site-header-menu li.site-header-menu-items.global a.anc.anc-list-opener .glyph-menu-open-white{
	background:url('../images/glyph-menu-open-white.png') no-repeat 0px 0px;
	background-size:27px auto;
	width:27px;
	height:20px;
	display:inline-block;
	vertical-align:baseline;
	margin-right:13px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global a.anc.open.anc-list-opener .glyph-menu-open-white{
	background:url('../images/glyph-menu-close-white.png') no-repeat 0px 0px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2{
	width:200%; /*coz parent is 50%*/
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li{}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li a{
	text-decoration:none;
	display:block;
	height:100%;
	padding:32px 36px;
	color:white;
	background:#344192 url("../images/glyph-arrow-right-white.png") no-repeat scroll 96% 50% / 14px auto;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li a.anc-list-opener{
	background:#344192 url("../images/glyph-arrow-down-white.png") no-repeat scroll 96% 50% / 24px auto;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li a.anc-list-opener.open{
	background:#344192 url("../images/glyph-arrow-up-white.png") no-repeat scroll 96% 50% / 24px auto;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li ul.main-site-header-submenu.lvl3{
	width:100%;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li ul.main-site-header-submenu.lvl3 li{}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li ul.main-site-header-submenu.lvl3 li a{
	padding-left:60px;	
	background:#2b388a url("../images/glyph-arrow-right-white.png") no-repeat scroll 96% 50% / 14px auto;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu{}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3{
	background:#344192;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li{
	float:left;
	width:25%;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a{
	background:#344192;
	padding:22px 12px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a img{
	width:100%;
}
/*
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a .glyph-facebook-square-gray{
	background:url('../images/glyph-facebook-square-gray.png') no-repeat 0px 0px;
	width:136px;
	height:80px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a .glyph-twitter-square-gray{
	background:url('../images/glyph-twitter-square-gray.png') no-repeat 0px 0px;
	width:136px;
	height:80px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a .glyph-instagram-square-gray{
	background:url('../images/glyph-instagram-square-gray.png') no-repeat 0px 0px;
	width:136px;
	height:80px;
}
#site-header .main-site-header-menu li.site-header-menu-items.global ul.main-site-header-submenu.lvl2 li nav.social-site-header-menu ul.main-site-header-submenu.lvl3 li a .glyph-line-square-gray{
	background:url('../images/glyph-line-square-gray.png') no-repeat 0px 0px;
	width:136px;
	height:80px;
}
*/
/* header - menu contact start */
#site-header .main-site-header-menu li.site-header-menu-items.contact{
	/*width:160px;*/
	width:25%;
	background-color:#4a559a;
	line-height:18px;
	padding-top:24px;
	height:76px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact a.anc{
	font-size:20px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact a.anc.anc-list-opener{}
#site-header .main-site-header-menu li.site-header-menu-items.contact a.anc.anc-list-opener .glyph-contacts-white{
	background:url('../images/glyph-contacts-white.png') no-repeat 0px 0px;
	background-size:34px auto;
	width:34px;
	height:26px;
	display:inline-block;
	vertical-align:baseline;
	margin-bottom:8px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2{
	left:-200%;
	width:400%;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li{
	line-height:normal;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2{
	background:#4a559a;
	padding-bottom:40px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1{}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1 p{
	font-family:'Roboto', sans-serif;
	font-weight:500;
	font-size:53px;
	color:white;
	text-align:center;
	line-height:44px;
	padding-top:40px;
	margin-bottom:30px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1 p .glyph-phone-blue{
	background:url('../images/glyph-phone-white.png') no-repeat 0px 0px;
	background-size:34px auto;
	width:34px;
	height:32px;
	display:inline-block;
	vertical-align:baseline;
	margin-right:13px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col1 p .action-date{
	font-size:27px;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col2{}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col2 a{
	text-decoration:none;
	background-color:white;
	color:#4a559a;
	display:block;
	text-align:center;
	font-size:28px;
	padding:30px 0px;
	width:90%;
	margin:0 auto;
	font-weight:bold;
}
#site-header .main-site-header-menu li.site-header-menu-items.contact ul.main-site-header-submenu.lvl2 li div.inquiry-block-2 .inquiry-block-action-col2 a .glyph-mail-white{
	background:url('../images/glyph-mail-blue.png') no-repeat 0px 0px;
	background-size:28px auto;
	width:28px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	margin-right:19px;
}
/* header - menu apply start */
#site-header .main-site-header-menu li.site-header-menu-items.apply{
	/*width:160px;*/
	width:25%;
	background-color:#bfaa4a;
	line-height:18px;
	padding-top:21px;
	height:79px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply a.anc{
	font-size:20px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply a.anc.anc-list-opener{}
#site-header .main-site-header-menu li.site-header-menu-items.apply a.anc.anc-list-opener .glyph-apply-white{
	background:url('../images/glyph-apply-white.png') no-repeat 0px 0px;
	background-size:30px auto;
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:baseline;
	margin-bottom:8px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2{
	/*left:-480px;*/
	left:-300%;
	width:400%;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li{
	line-height:normal;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block{
	background:#c2aa3e;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2{
	max-width:640px;
	padding-top:36px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action{}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col1{
	border-bottom:2px solid white;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col1 a{
	text-decoration:none;
	background-color:white;
	color:#c2aa3e;
	display:block;
	text-align:center;
	font-size:28px;
	padding:28px 0;
	font-weight:bold;
	width:90%;
	margin:0 auto;
	margin-bottom:30px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col1 a .glyph-apply-yellow{
	background:url('../images/glyph-apply-yellow.png') no-repeat 0px 0px;
	background-size:30px auto;
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:sub;
	margin-right:17px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2{}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2 a{
	width:49%;
	float:left;
	color:white;
	font-weight:bold;
	background:none;
	margin-right:none;
	border-right:1px solid white;
	text-align:center;
	display:block;
	font-size:28px;
	padding:28px 0;
	text-decoration:none;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2 a.item-last{
	border-right:none;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2 a .glyph-consoltation-white{
	background:url('../images/glyph-consoltation-white.png') no-repeat 0px 0px;
	background-size:32px auto;
	width:32px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	margin-right:17px;
}
#site-header .main-site-header-menu li.site-header-menu-items.apply ul.main-site-header-submenu.lvl2 li div.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action.wish-to-enroll-action-col2 a .glyph-catalog-white{
	background:url('../images/glyph-catalog-white.png') no-repeat 0px 0px;
	background-size:32px auto;
	width:32px;
	height:29px;
	display:inline-block;
	vertical-align:sub;
	margin-right:17px;
}
/* header end */



/* main start */
#site-main{
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}
.main-shoutout-wrapper{
	background:url('../images/bg-shoutout.jpg') no-repeat 0px 0px;
	background-size:100%;
	max-width:640px;
	/*
	background-position:50% 0;
	height:690px;
	*/
	margin:0 auto;
}
.shoutout.main-shoutout{
	width:90%;
	margin:0 auto;
}
.shoutout.main-shoutout .shoutout-branding{
	text-align:center;
	margin-bottom:48px;
}
.shoutout.main-shoutout .shoutout-branding header{
	padding-top:136px;	
	margin-bottom:10px;
}
.shoutout.main-shoutout .shoutout-branding header h4{
	color:#ffeb43;
	font-weight:bold;
	font-size:25px;
}
.shoutout.main-shoutout .shoutout-branding .banner-wrapper{
	width:252px;
	margin:0 auto;
	background:url('../images/glyph-arrow-right-trans-yellow.png') no-repeat 0 50% / 11px auto, url('../images/glyph-arrow-left-trans-yellow.png') no-repeat 100% 50% / 11px auto;
}
.shoutout.main-shoutout .shoutout-branding .banner{
	margin:0 auto;
	max-width:230px;
	text-align:center;
	background-color:#f7df3f;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col1{
	float:left;
	padding:12px 0 12px 12px;
}
.shoutout.main-shoutout .shoutout-branding .banner p{
	
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col1 p{
	font-size:18px;
	font-weight:bold;
	color:#344192;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col2{
	float:left;
	padding:12px 12px 12px 0;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col2 p{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:46px;
	font-style: italic;
	line-height:36px;
	color:#344192;
}
.shoutout.main-shoutout .shoutout-contents{
	margin-bottom:140px;
}
.shoutout.main-shoutout .shoutout-contents header{
	margin-bottom:28px;
}
.shoutout.main-shoutout .shoutout-contents header h1{
	font-size:65px;
	font-weight:bold;
	color:white;
	text-align:center;
	border-bottom:5px solid white;
	max-width:600px;
	margin:0 auto;
	padding-bottom:12px;
}
.shoutout.main-shoutout .shoutout-contents p{
	font-size:29px;
	font-weight:bold;
	color:white;
	text-align:center;
	max-width:600px;
	margin:0 auto;
	line-height:34px;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down{
	padding-bottom:76px;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p{
	text-align:center;
	max-width:600px;
	margin:0 auto;
	
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p a{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:16px;
	color:white;
	text-decoration:none;
	display:block;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p a .glyph.glyph-arrow-down-white{
	background:url('../images/glyph-arrow-down-white.png') no-repeat 0px 0px;
	background-size:40px auto;
	width:40px;
	height:23px;
	display:inline-block;
	vertical-align:middle;
	margin-top:12px;
}

.featured-block.main-featured-block{
	width:90%;
	margin:0 auto;
	margin-bottom:72px;
}
.featured-block.main-featured-block header{
	margin-bottom:54px;
}
.featured-block.main-featured-block header h2{
	text-align:center;
	font-weight:bold;
	font-size:34px;
	margin-top:70px;
	margin-bottom:24px;
	line-height:50px;
}
.featured-block.main-featured-block header p{
	font-size:24px;
	line-height:38px;
}
.featured-block.main-featured-block .featured-feature{
	/*
	float:left;
	width:252px;
	padding-right:108px;
	background:url('../images/ant-line.png') repeat-x 2px 124px;
	*/
	margin-bottom:100px;
}
.featured-block.main-featured-block .featured-feature .feature-image-wrapper{
	/*
	width:280px;
	*/
}

.featured-block.main-featured-block .featured-feature .featured-feature-blocks{}
.featured-block.main-featured-block .featured-feature .featured-feature-blocks.feature-image-wrapper{
	width:43.75%;
}
.featured-block.main-featured-block .featured-feature .featured-feature-blocks.feature-image-wrapper img{
	width:100%;
}
.featured-block.main-featured-block .featured-feature .featured-feature-blocks.feature-vspacing{
	width:4%;
	height:10px;
}
.featured-block.main-featured-block .featured-feature .featured-feature-blocks.feature-details{
	width:52.25%;
}
.featured-block.main-featured-block .featured-feature.odd .featured-feature-blocks{
	float:left;
}
.featured-block.main-featured-block .featured-feature.odd .featured-feature-blocks.feature-image-wrapper{}
.featured-block.main-featured-block .featured-feature.odd .featured-feature-blocks.feature-details{}
.featured-block.main-featured-block .featured-feature.even .featured-feature-blocks{
	float:right;
}
.featured-block.main-featured-block .featured-feature.even .featured-feature-blocks.feature-image-wrapper{}
.featured-block.main-featured-block .featured-feature.even .featured-feature-blocks.feature-details{}



.featured-block.main-featured-block .featured-feature.odd{}
.featured-block.main-featured-block .featured-feature.odd .feature-image-wrapper{
	/*
	float:left;
	*/
}
.featured-block.main-featured-block .featured-feature.even{}
.featured-block.main-featured-block .featured-feature.even .feature-image-wrapper{
	/*
	float:right;
	text-align:right;
	*/
}
.featured-block.main-featured-block .featured-feature.item-last{
	margin-bottom:0px;
}
.featured-block.main-featured-block .featured-feature img{}
.featured-block.main-featured-block .featured-feature .feature-details header{
	margin-bottom:0px;
}
.featured-block.main-featured-block .featured-feature .feature-details header h5{
	/*
	text-align:center;
	*/
	font-weight:bold;
	font-size:28px;
	margin-bottom:10px;
	line-height:30px;
}
.featured-block.main-featured-block .featured-feature .feature-details p{
	/*
	text-align:center;
	*/
	font-size:24px;
	margin-bottom:20px;
	line-height:32px;
}
.featured-block.main-featured-block .featured-feature .feature-details a{
	/*
	*/
	display:inline-block;
	text-align:left;
	margin:0 auto;
	background-color:#344192;
	border:none;
	color:white;
	font-size:24px;
	text-decoration:none;
	padding:24px 20px 24px 20px;
	line-height:38px;
}
.featured-block.main-featured-block .featured-feature .feature-details a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	background-size:12px auto;
	width:12px;
	height:22px;
	display:inline-block;
	vertical-align:middle;
	margin-right:22px;
	/*
	*/
}
.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-feature{
	background:url('../images/glyph-feature.png') no-repeat 0px 0px;
	display:inline-block;
	vertical-align:bottom;
	width:45px;
	height:40px;
	margin-right:8px;
}
.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-course{
	background:url('../images/glyph-course.png') no-repeat 0px 0px;
	display:inline-block;
	vertical-align:middle;
	width:34px;
	height:38px;
	margin-right:10px;
}
.featured-block.main-featured-block .featured-feature .feature-details .glyph.glyph-schedule{
	background:url('../images/glyph-schedule.png') no-repeat 0px 0px;
	display:inline-block;
	vertical-align:middle;
	width:36px;
	height:35px;
	margin-right:14px;
}

.voice-of-graduates-wrapper{
	background:url('../images/bg-voice.jpg') no-repeat 0px 0px;
	background-size:100%;
	max-width:640px;
	/* 
	background-position:center; 
	height:560px;
	*/
	margin:0 auto;
}
.voice-of-graduates{
	width:90%;
	margin:0 auto;
	padding-bottom:73px;
}
.voice-of-graduates header{
	padding-top:67px;
	margin-bottom:22px;
}
.voice-of-graduates header h2{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:52px;
	color:white;
}
.voice-of-graduates header h2 .font-baskerville{
	font-family: 'Libre Baskerville', serif;
	font-style:italic;
	font-size:80px;
	color:#858585;
}
.voice-of-graduates p{
	color:white;
	font-size:22px;
	line-height:38px;
	margin-bottom:44px;
}
.voice-of-graduates a{
	display:block;
	/*
	width:256px;
	*/
	font-size:24px;
	padding:22px;
	text-decoration:none;
	text-align:center;
	color:white;
	border:2px solid white;
	background:url('../images/glyph-arrow-right-white.png') no-repeat 30px 50% / 12px auto;
	margin-bottom:50px;
}
.voice-of-graduates a .glyph.glyph-arrow-right-white{
	/*
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	background-size:11px auto;
	width:12px;
	height:20px;
	margin-right:71px;
	*/
}

.updates-block-wrapper{
	background-color:#f7f7f7;
	position:relative;
}
.updates-block{
	width:90%;
	margin:0 auto;
	position:relative;
	top:-50px;
}
.updates-block .news-block{
	margin-bottom:68px;
}
.updates-block .news-block .news-information-block{
	background-color:white;
	margin-bottom:40px;
}
.updates-block .news-block .news-information-block .news-information-blocks{}
.updates-block .news-block .news-information-block .news-information-block-1{
	text-align:center;
}
.updates-block .news-block .news-information-block .news-information-block-1 h4{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:40px;
	padding-top:70px;
	margin-bottom:14px;
}
.updates-block .news-block .news-information-block .news-information-block-1 p{
	font-size:24px;
	margin-bottom:22px;
}
.updates-block .news-block .news-information-block .more-article-link{
	font-family: 'Roboto', sans-serif;
	font-size:24px;
	text-decoration:none;
	color:white;
	background:#c9cbd7 url('../images/glyph-arrow-right-white.png') no-repeat 30px 50% / 12px auto;
	display:inline-block;
	width:100%;
	margin:0 auto;
	padding:24px 0;
	text-align:center;
}
.updates-block .news-block .news-information-block a .glyph.glyph-arrow-right-white{
	/*
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	background-size:12px auto;
	width:12px;
	height:22px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:22px;
	*/
}
.updates-block .news-block .news-information-block .news-information-block-2{
	/*max-width:758px;*/
	max-width:713px;
	padding:0px 0px 25px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item{
	border-bottom:1px solid #f0f1f6;
	padding:24px 28px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item article{}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item.item-last{
	border-bottom:0px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-article-detail{}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-date{
	margin-bottom:18px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-date p{
	font-family: 'Roboto', sans-serif;
	font-size:24px;
	padding-left:5px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-headline{}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-headline p{
	font-size:26px;
	color:#344192;
	line-height:38px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-link{
	margin-top:-6px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .article-link{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:18px;
	text-decoration:none;
	color:white;
	padding:6px 6px;
	margin-left:14px;
	display:inline-block;
	width:58px;
	text-align:center;
	vertical-align:middle;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .article-link.link-blog{
	background-color:#344192;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .article-link.link-news{
	background-color:#349288;
}

.updates-block .news-block .news-media-block{
	background-color:white;
}
.updates-block .news-block .news-media-block .news-media-blocks{}
.updates-block .news-block .news-media-block .news-media-block-1{
	text-align:center;
}
.updates-block .news-block .news-media-block .news-media-block-1 h4{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:40px;
	padding-top:70px;
	margin-bottom:14px;
}
.updates-block .news-block .news-media-block .news-media-block-1 p{
	font-size:24px;
	margin-bottom:22px;
}
.updates-block .news-block .news-media-block .more-media-link{
	font-family: 'Roboto', sans-serif;
	font-size:24px;
	text-decoration:none;
	color:white;
	background:#c9cbd7 url('../images/glyph-arrow-right-white.png') no-repeat 30px 50% / 12px auto;
	display:inline-block;
	width:100%;
	margin:0 auto;
	padding:24px 0;
	text-align:center;
}
.updates-block .news-block .news-media-block .news-media-block-1 a .glyph.glyph-arrow-right-white{}
.updates-block .news-block .news-media-block .news-media-block-2{
	max-width:713px;
	padding: 0px 0px 25px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item{
	padding:24px 28px;
	border-bottom:1px solid #f0f1f6;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item.item-last{
	border-bottom:0px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article{}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-blocks{
	float:left;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-blocks.feature-vspacing{
	width:5%;
	height:50px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-1{
	width:26.926%;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-1 img{
	width:100%;
	border:1px solid #f0f0f0;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2{
	width:68%;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header{
	margin:10px 0px 14px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header h6{
	font-family:"Roboto",sans-serif;
	font-size:24px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p{
	line-height:32px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p a{
	font-size:26px;
	color:#344192;
	text-decoration:none;
}

.updates-block .campaign-block{
	background-color:#f7f7f7;
}
.updates-block .campaign-block header{
	margin-bottom:36px;
}
.updates-block .campaign-block header h3{
	font-family:"Roboto",sans-serif;
	font-weight:500;
	font-size:44px;
	text-align:center;
}
.updates-block .campaign-block article{
	margin-bottom:20px;
}
.updates-block .campaign-block article img{
	width:100%;
}

.carousel-block.gallery-carousel-block{}
.carousel-block.gallery-carousel-block .gallery-carousel-block-slick{}

.carousel-block.gallery-carousel-block .gallery-carousel-block-slick .slick-prev.slick-arrow{
	background:url('../images/glyph-arrow-left-white.png') no-repeat 0px 0px;
	background-size:16px auto;
	width:16px;
	height:28px;
	text-indent:-999999px;
	left: 25px;
    z-index: 1;
}
.carousel-block.gallery-carousel-block .gallery-carousel-block-slick .slick-next.slick-arrow{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	background-size:16px auto;
	width:16px;
	height:28px;
	text-indent:-999999px;
	right: 25px;
}
/* main end */



/* footer start */
#site-footer{
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}
#site-footer .wish-to-enroll-block{
	max-width:640px;
	margin:0 auto;
	padding:40px 0px;
	border-bottom:1px solid #e9e9e9;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-blocks{}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-1{
	max-width:94%;
	margin:0 auto;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-1 header{
	margin-bottom:24px;
	text-align:center;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-1 header h4{
	font-size:36px;
	font-weight:bold;
	color:#344192;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-1 header h4 .glyph.glyph-apply-blue{
	background:url('../images/glyph-apply-blue-2.png') no-repeat 0px 0px;
	background-size:40px auto;
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:13px;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-1 p{
	font-size:15px;
	line-height:24px;
	padding-right:70px;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2{
	max-width:94%;
	margin:0 auto;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action{}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1{
	margin-bottom:20px;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1 a{
	text-decoration:none;
	background-color:#c2aa3e;
	color:white;
	display:block;
	text-align:center;
	font-size:28px;
	padding:28px 0;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1 a .glyph.glyph-apply-white{
	background:url('../images/glyph-apply-white.png') no-repeat 0px 0px;
	background-size:30px auto;
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:17px;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2{}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a{
	background:url('../images/glyph-arrow-right-blue.png') no-repeat 30px 50% / 11px auto;
	text-decoration:none;
	font-size:24px;
	display:block;
	width:47%;
	float:left;
	color:#344192;
	border:4px solid #c0c5e5;
	text-align:left;
	padding:17px 0px;
	text-align:center;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a .glyph.glyph-arror-right-blue{
	background:url('../images/glyph-arrow-right-blue.png') no-repeat 0px 0px;
	width:8px;
	height:14px;
	background-size:8px 14px;
	margin-left:24px;
	margin-right:45px;
}
#site-footer .wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a.item-last{
	float:right;
	margin-right:0px;
}

#site-footer .inquiry-block{
	width:94%;
	margin:0 auto;
	padding:40px 0px 30px;
}
#site-footer .inquiry-block .inquiry-blocks{}
#site-footer .inquiry-block .inquiry-block-1{}
#site-footer .inquiry-block .inquiry-block-1 header{
	margin-bottom:24px;
	text-align:center;
}
#site-footer .inquiry-block .inquiry-block-1 header h4{
	font-size:36px;
	font-weight:bold;
	color:#344192;
}
#site-footer .inquiry-block .inquiry-block-1 header h4 .glyph.glyph-contacts-blue{
	background:url('../images/glyph-contacts-blue-2.png') no-repeat 0px 0px;
	background-size:45px auto;
	width:45px;
	height:34px;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
}
#site-footer .inquiry-block .inquiry-block-1 p{
	font-size:15px;
	line-height:24px;
	padding-right:70px;
}
#site-footer .inquiry-block .inquiry-block-2{}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col1{
	margin-bottom:16px;
}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p{
	font-family:'Roboto', sans-serif;
	font-weight:500;
	font-size:53px;
	color:#334192;
	text-align:center;
}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p .glyph.glyph-phone-blue{
	background:url('../images/glyph-phone-blue-2.png') no-repeat 0px 0px;
	background-size:36px auto;
	width:36px;
	height:35px;
	display:inline-block;
	vertical-align:baseline;
	margin-right:13px;
}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p .action-date{
	font-size:27px;
}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col2{}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col2 a{
	text-decoration:none;
	background-color:#344192;
	color:white;
	display:block;
	text-align:center;
	font-size:28px;
	padding:30px 0px;
}
#site-footer .inquiry-block .inquiry-block-2 .inquiry-block-action-col2 a .glyph.glyph-mail-white{
	background:url('../images/glyph-mail-white.png') no-repeat 0px 0px;
	background-size:28px auto;
	width:28px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	margin-right:19px;
}

.site-footer-ads-block-wrapper{
	background-color:#f6f6f6;
}
.site-footer-ads-block{
	width:93.75%;
	margin:0 auto;
	padding:20px 0;
}
.site-footer-ads-block img{
	width:100%;
	margin-bottom:8px;
}
.site-footer-ads-block img.item-last{
	margin-bottom:0px;
}

.site-footer-carousel-block-wrapper{
	background-color:#e9e9e9;
	height:174px;
}
.site-footer-carousel-block{
	width:93.75%;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick{
	margin-bottom:0px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-slide{
	width:310px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-prev.slick-arrow{
	display:none;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-next.slick-arrow{
	display:none;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-dots li button{
	text-indent:-999999px;
	background: transparent url("../images/glyph-dot-nonactive-gray.png") no-repeat scroll 0px 0px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-dots li.slick-active button{
	background: transparent url("../images/glyph-dot-active-gray.png") no-repeat scroll 0px 0px;
}


.site-footer-main-block-wrapper{
	background-color:#273484;
	max-width:640px;
}
.site-footer-main-block{
	max-width:640px;
	margin:0 auto;
}
.site-footer-main-block p{
	font-size:16px;
	color:white;
	text-align:center;
	padding-bottom:20px;
	line-height:24px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu{
	width:296px;
	margin:0 auto;
	text-align:center;
	padding-top:52px;
	padding-bottom:48px;
	text-align:center;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul{}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li{
	float:left;
	margin:0 10px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a{
	color:#7d85b5;
	text-decoration:none;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-facebook-circle-gray{
	background:url('../images/glyph-facebook-circle-gray.png') no-repeat 0px 0px;
	width:54px;
	height:54px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-twitter-circle-gray{
	background:url('../images/glyph-twitter-circle-gray.png') no-repeat 0px 0px;
	width:54px;
	height:54px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-instagram-circle-gray{
	background:url('../images/glyph-instagram-circle-gray.png') no-repeat 0px 0px;
	width:54px;
	height:54px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-line-circle-gray{
	background:url('../images/glyph-line-circle-gray.png') no-repeat 0px 0px;
	width:54px;
	height:54px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu{
	width:76.065%;
	margin:0 auto;
	text-align:center;
	padding-bottom:30px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul{}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li{
	float:left;
	/*
	margin:0 15px 0 15px;
	*/
	width:33.33%;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li.item-last{}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a{
	color:white;
	text-decoration:none;
	font-size:20px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	background-size:8px auto;
	width:8px;
	height:14px;
	display:inline-block;
	vertical-align:middle;
	margin-right:9px;
}
/* footer end */













